.centeredElements {
    width: 100%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centeredElements > button {
    margin: 0 100px;
}

.mainCont {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.titleBox {
    text-align: center;
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.titleBox > div:nth-child(1) {
    font-size: 4.8em;
    font-family: "Roboto Thin", serif;
    margin-bottom: 5px;
}

.titleBox > div:nth-child(2) {
    height: 1px;
    width: 15%;
    background-color: #000;
}

.titleBox > div:nth-child(3) {
    margin-top: 20px;
    font-size: 1.8em;
    font-family: "Roboto Light", serif;
}

.startCont {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.topSelector > div:not(:last-child) {
    border-right: 1px black solid;
}

.freeButton {
    background: none;
    border: none;
}

.tableCTN {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Roboto Thin", serif;
    font-size: 2em;
}

.tableCTN > table > tr > * {
    padding: 10px 3em;
    text-align: left;
}

.tableCTN > table > tr > td > input {
    border-bottom: black solid 1px;
    border-top: none;
    border-right: none;
    border-left: none;

    font-family: inherit;
    font-size: inherit;
}

.tableCTN > table > tr:first-child > td {
    padding-bottom: 0;
}

.tableCTN > table > tr:nth-child(2) > td > div {
    background-color: #000;
    height: 1px;
    width: 3em;
    margin: 0 0 15px 0;
    padding: 0;
}

.tableCTN > div:last-child {
    margin-top: 5%;
}

.false {
    border-color: #f00 !important;
    color: #f00 !important;
}

.correct {
    border-color: #0f0 !important;
    color: #0f0 !important;
}

.empty {}