.centeredElements {
    width: 100%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centeredElements > button {
    margin: 0 100px;
}

.mainCont {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.titleBox {
    text-align: center;
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.titleBox > div:nth-child(1) {
    font-size: 4.8em;
    font-family: "Roboto Thin", serif;
    margin-bottom: 5px;
}

.titleBox > div:nth-child(2) {
    height: 1px;
    width: 15%;
    background-color: #000;
}

.titleBox > div:nth-child(3) {
    margin-top: 20px;
    font-size: 1.8em;
    font-family: "Roboto Light", serif;
}

.startCont {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.topSelector > div:not(:last-child) {
    border-right: 1px black solid;
}

.freeButton {
    background: none;
    border: none;
}